In [142]:
import pandas as pd
import numpy as np

In [191]:
choice_100 = pd.read_csv("./data/choice_100.csv")
choice_150 = pd.read_csv("./data/choice_150.csv")
choice_95 = pd.read_csv("./data/choice_95.csv")
index_100 = pd.read_csv("./data/index_100.csv")
index_150 = pd.read_csv("./data/index_150.csv")
index_95 = pd.read_csv("./data/index_95.csv")
lo_100 = pd.read_csv("./data/lo_100.csv")
lo_150 = pd.read_csv("./data/lo_150.csv")
lo_95 = pd.read_csv("./data/lo_95.csv")
wi_100 = pd.read_csv("./data/wi_100.csv")
wi_150 = pd.read_csv("./data/wi_150.csv")
wi_95 = pd.read_csv("./data/wi_95.csv")

I used .head() to see what each type of dataframe looked like

In [192]:
print(choice_100.head())
print(index_100.head())
print(lo_100.head())
print(wi_100.head())

        Choice_1  Choice_2  Choice_3  Choice_4  Choice_5  Choice_6  Choice_7  \
Subj_1         1         1         2         4         3         2         1
Subj_2         2         1         4         4         3         2         3
Subj_3         4         2         3         1         4         2         4
Subj_4         4         3         4         2         1         4         3
Subj_5         1         2         2         2         2         3         4

        Choice_8  Choice_9  Choice_10  ...  Choice_91  Choice_92  Choice_93  \
Subj_1         2         4          2  ...          1          1          1
Subj_2         2         1          2  ...          4          2          3
Subj_3         4         4          3  ...          3          2          1
Subj_4         2         2          2  ...          4          2          3
Subj_5         1         4          1  ...          2          2          2

        Choice_94  Choice_95  Choice_96  Choice_97  Choice_98  Choice_99  \
Subj_1          2          2          2          4          2          4
Subj_2          4          2          4          4          2          2
Subj_3          4          2          2          2          4          2
Subj_4          4          3          4          1          4          3
Subj_5          2          3          3          3          3          4

        Choice_100
Subj_1           2
Subj_2           4
Subj_3           2
Subj_4           4
Subj_5           4

[5 rows x 100 columns]
   Subj      Study
0     1  Horstmann
1     2  Horstmann
2     3  Horstmann
3     4  Horstmann
4     5  Horstmann
        Losses_1  Losses_2  Losses_3  Losses_4  Losses_5  Losses_6  Losses_7  \
Subj_1      -200      -150         0      -250         0         0         0
Subj_2         0         0         0         0         0         0       -50
Subj_3         0         0       -50      -300         0     -1250         0
Subj_4      -250       -50         0         0      -200         0         0
Subj_5         0         0         0     -1250         0       -50         0

        Losses_8  Losses_9  Losses_10  ...  Losses_91  Losses_92  Losses_93  \
Subj_1         0         0          0  ...          0          0       -350
Subj_2         0         0          0  ...          0          0          0
Subj_3         0         0        -50  ...        -50          0       -200
Subj_4         0         0      -1250  ...          0          0          0
Subj_5         0         0          0  ...          0          0          0

        Losses_94  Losses_95  Losses_96  Losses_97  Losses_98  Losses_99  \
Subj_1          0          0          0          0          0          0
Subj_2       -250      -1250          0          0          0          0
Subj_3          0          0          0          0          0          0
Subj_4          0        -50          0          0          0        -50
Subj_5      -1250          0          0          0        -50          0

        Losses_100
Subj_1       -1250
Subj_2           0
Subj_3           0
Subj_4           0
Subj_5           0

[5 rows x 100 columns]
        Wins_1  Wins_2  Wins_3  Wins_4  Wins_5  Wins_6  Wins_7  Wins_8  \
Subj_1     100     100     100      50      50     100     100     100
Subj_2     100     100      50      50      50     100      50     100
Subj_3      50     100      50     100      50     100      50      50
Subj_4      50      50      50     100     100      50      50     100
Subj_5     100     100     100     100     100      50      50     100

        Wins_9  Wins_10  ...  Wins_91  Wins_92  Wins_93  Wins_94  Wins_95  \
Subj_1      50      100  ...      100      100      100      100      100
Subj_2     100      100  ...       50      100       50       50      100
Subj_3      50       50  ...       50      100      100       50      100
Subj_4     100      100  ...       50      100       50       50       50
Subj_5      50      100  ...      100      100      100      100       50

        Wins_96  Wins_97  Wins_98  Wins_99  Wins_100
Subj_1      100       50      100       50       100
Subj_2       50       50      100      100        50
Subj_3      100      100       50      100       100
Subj_4       50      100       50       50        50
Subj_5       50       50       50       50        50

[5 rows x 100 columns]

# Part 1
First I will go through each individual dataframe and see if there are any obvious errors, data type differences and and nulls that should be changed.

In [193]:
print(choice_95.info())
print(choice_100.info())
print(choice_150.info())

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, Subj_1 to Subj_15
Data columns (total 95 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Choice_1   15 non-null     int64
 1   Choice_2   15 non-null     int64
 2   Choice_3   15 non-null     int64
 3   Choice_4   15 non-null     int64
 4   Choice_5   15 non-null     int64
 5   Choice_6   15 non-null     int64
 6   Choice_7   15 non-null     int64
 7   Choice_8   15 non-null     int64
 8   Choice_9   15 non-null     int64
 9   Choice_10  15 non-null     int64
 10  Choice_11  15 non-null     int64
 11  Choice_12  15 non-null     int64
 12  Choice_13  15 non-null     int64
 13  Choice_14  15 non-null     int64
 14  Choice_15  15 non-null     int64
 15  Choice_16  15 non-null     int64
 16  Choice_17  15 non-null     int64
 17  Choice_18  15 non-null     int64
 18  Choice_19  15 non-null     int64
 19  Choice_20  15 non-null     int64
 20  Choice_21  15 non-null     int64
 21  Choice_22  15 non-null     int64
 22  Choice_23  15 non-null     int64
 23  Choice_24  15 non-null     int64
 24  Choice_25  15 non-null     int64
 25  Choice_26  15 non-null     int64
 26  Choice_27  15 non-null     int64
 27  Choice_28  15 non-null     int64
 28  Choice_29  15 non-null     int64
 29  Choice_30  15 non-null     int64
 30  Choice_31  15 non-null     int64
 31  Choice_32  15 non-null     int64
 32  Choice_33  15 non-null     int64
 33  Choice_34  15 non-null     int64
 34  Choice_35  15 non-null     int64
 35  Choice_36  15 non-null     int64
 36  Choice_37  15 non-null     int64
 37  Choice_38  15 non-null     int64
 38  Choice_39  15 non-null     int64
 39  Choice_40  15 non-null     int64
 40  Choice_41  15 non-null     int64
 41  Choice_42  15 non-null     int64
 42  Choice_43  15 non-null     int64
 43  Choice_44  15 non-null     int64
 44  Choice_45  15 non-null     int64
 45  Choice_46  15 non-null     int64
 46  Choice_47  15 non-null     int64
 47  Choice_48  15 non-null     int64
 48  Choice_49  15 non-null     int64
 49  Choice_50  15 non-null     int64
 50  Choice_51  15 non-null     int64
 51  Choice_52  15 non-null     int64
 52  Choice_53  15 non-null     int64
 53  Choice_54  15 non-null     int64
 54  Choice_55  15 non-null     int64
 55  Choice_56  15 non-null     int64
 56  Choice_57  15 non-null     int64
 57  Choice_58  15 non-null     int64
 58  Choice_59  15 non-null     int64
 59  Choice_60  15 non-null     int64
 60  Choice_61  15 non-null     int64
 61  Choice_62  15 non-null     int64
 62  Choice_63  15 non-null     int64
 63  Choice_64  15 non-null     int64
 64  Choice_65  15 non-null     int64
 65  Choice_66  15 non-null     int64
 66  Choice_67  15 non-null     int64
 67  Choice_68  15 non-null     int64
 68  Choice_69  15 non-null     int64
 69  Choice_70  15 non-null     int64
 70  Choice_71  15 non-null     int64
 71  Choice_72  15 non-null     int64
 72  Choice_73  15 non-null     int64
 73  Choice_74  15 non-null     int64
 74  Choice_75  15 non-null     int64
 75  Choice_76  15 non-null     int64
 76  Choice_77  15 non-null     int64
 77  Choice_78  15 non-null     int64
 78  Choice_79  15 non-null     int64
 79  Choice_80  15 non-null     int64
 80  Choice_81  15 non-null     int64
 81  Choice_82  15 non-null     int64
 82  Choice_83  15 non-null     int64
 83  Choice_84  15 non-null     int64
 84  Choice_85  15 non-null     int64
 85  Choice_86  15 non-null     int64
 86  Choice_87  15 non-null     int64
 87  Choice_88  15 non-null     int64
 88  Choice_89  15 non-null     int64
 89  Choice_90  15 non-null     int64
 90  Choice_91  15 non-null     int64
 91  Choice_92  15 non-null     int64
 92  Choice_93  15 non-null     int64
 93  Choice_94  15 non-null     int64
 94  Choice_95  15 non-null     int64
dtypes: int64(95)
memory usage: 11.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 504 entries, Subj_1 to Subj_504
Data columns (total 100 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Choice_1    504 non-null    int64
 1   Choice_2    504 non-null    int64
 2   Choice_3    504 non-null    int64
 3   Choice_4    504 non-null    int64
 4   Choice_5    504 non-null    int64
 5   Choice_6    504 non-null    int64
 6   Choice_7    504 non-null    int64
 7   Choice_8    504 non-null    int64
 8   Choice_9    504 non-null    int64
 9   Choice_10   504 non-null    int64
 10  Choice_11   504 non-null    int64
 11  Choice_12   504 non-null    int64
 12  Choice_13   504 non-null    int64
 13  Choice_14   504 non-null    int64
 14  Choice_15   504 non-null    int64
 15  Choice_16   504 non-null    int64
 16  Choice_17   504 non-null    int64
 17  Choice_18   504 non-null    int64
 18  Choice_19   504 non-null    int64
 19  Choice_20   504 non-null    int64
 20  Choice_21   504 non-null    int64
 21  Choice_22   504 non-null    int64
 22  Choice_23   504 non-null    int64
 23  Choice_24   504 non-null    int64
 24  Choice_25   504 non-null    int64
 25  Choice_26   504 non-null    int64
 26  Choice_27   504 non-null    int64
 27  Choice_28   504 non-null    int64
 28  Choice_29   504 non-null    int64
 29  Choice_30   504 non-null    int64
 30  Choice_31   504 non-null    int64
 31  Choice_32   504 non-null    int64
 32  Choice_33   504 non-null    int64
 33  Choice_34   504 non-null    int64
 34  Choice_35   504 non-null    int64
 35  Choice_36   504 non-null    int64
 36  Choice_37   504 non-null    int64
 37  Choice_38   504 non-null    int64
 38  Choice_39   504 non-null    int64
 39  Choice_40   504 non-null    int64
 40  Choice_41   504 non-null    int64
 41  Choice_42   504 non-null    int64
 42  Choice_43   504 non-null    int64
 43  Choice_44   504 non-null    int64
 44  Choice_45   504 non-null    int64
 45  Choice_46   504 non-null    int64
 46  Choice_47   504 non-null    int64
 47  Choice_48   504 non-null    int64
 48  Choice_49   504 non-null    int64
 49  Choice_50   504 non-null    int64
 50  Choice_51   504 non-null    int64
 51  Choice_52   504 non-null    int64
 52  Choice_53   504 non-null    int64
 53  Choice_54   504 non-null    int64
 54  Choice_55   504 non-null    int64
 55  Choice_56   504 non-null    int64
 56  Choice_57   504 non-null    int64
 57  Choice_58   504 non-null    int64
 58  Choice_59   504 non-null    int64
 59  Choice_60   504 non-null    int64
 60  Choice_61   504 non-null    int64
 61  Choice_62   504 non-null    int64
 62  Choice_63   504 non-null    int64
 63  Choice_64   504 non-null    int64
 64  Choice_65   504 non-null    int64
 65  Choice_66   504 non-null    int64
 66  Choice_67   504 non-null    int64
 67  Choice_68   504 non-null    int64
 68  Choice_69   504 non-null    int64
 69  Choice_70   504 non-null    int64
 70  Choice_71   504 non-null    int64
 71  Choice_72   504 non-null    int64
 72  Choice_73   504 non-null    int64
 73  Choice_74   504 non-null    int64
 74  Choice_75   504 non-null    int64
 75  Choice_76   504 non-null    int64
 76  Choice_77   504 non-null    int64
 77  Choice_78   504 non-null    int64
 78  Choice_79   504 non-null    int64
 79  Choice_80   504 non-null    int64
 80  Choice_81   504 non-null    int64
 81  Choice_82   504 non-null    int64
 82  Choice_83   504 non-null    int64
 83  Choice_84   504 non-null    int64
 84  Choice_85   504 non-null    int64
 85  Choice_86   504 non-null    int64
 86  Choice_87   504 non-null    int64
 87  Choice_88   504 non-null    int64
 88  Choice_89   504 non-null    int64
 89  Choice_90   504 non-null    int64
 90  Choice_91   504 non-null    int64
 91  Choice_92   504 non-null    int64
 92  Choice_93   504 non-null    int64
 93  Choice_94   504 non-null    int64
 94  Choice_95   504 non-null    int64
 95  Choice_96   504 non-null    int64
 96  Choice_97   504 non-null    int64
 97  Choice_98   504 non-null    int64
 98  Choice_99   504 non-null    int64
 99  Choice_100  504 non-null    int64
dtypes: int64(100)
memory usage: 397.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 98 entries, Subj_1 to Subj_98
Columns: 150 entries, Choice_1 to Choice_150
dtypes: int64(150)
memory usage: 115.6+ KB
None

In [194]:
print(index_95.info())
print(index_100.info())
print(index_150.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Subj    15 non-null     int64
 1   Study   15 non-null     object
dtypes: int64(1), object(1)
memory usage: 368.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Subj    504 non-null    int64
 1   Study   504 non-null    object
dtypes: int64(1), object(1)
memory usage: 8.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98 entries, 0 to 97
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Subj    98 non-null     int64
 1   Study   98 non-null     object
dtypes: int64(1), object(1)
memory usage: 1.7+ KB
None

In [195]:
print(lo_95.info())
print(lo_100.info())
print(lo_150.info())

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, Subj_1 to Subj_15
Data columns (total 95 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Losses_1   15 non-null     int64
 1   Losses_2   15 non-null     int64
 2   Losses_3   15 non-null     int64
 3   Losses_4   15 non-null     int64
 4   Losses_5   15 non-null     int64
 5   Losses_6   15 non-null     int64
 6   Losses_7   15 non-null     int64
 7   Losses_8   15 non-null     int64
 8   Losses_9   15 non-null     int64
 9   Losses_10  15 non-null     int64
 10  Losses_11  15 non-null     int64
 11  Losses_12  15 non-null     int64
 12  Losses_13  15 non-null     int64
 13  Losses_14  15 non-null     int64
 14  Losses_15  15 non-null     int64
 15  Losses_16  15 non-null     int64
 16  Losses_17  15 non-null     int64
 17  Losses_18  15 non-null     int64
 18  Losses_19  15 non-null     int64
 19  Losses_20  15 non-null     int64
 20  Losses_21  15 non-null     int64
 21  Losses_22  15 non-null     int64
 22  Losses_23  15 non-null     int64
 23  Losses_24  15 non-null     int64
 24  Losses_25  15 non-null     int64
 25  Losses_26  15 non-null     int64
 26  Losses_27  15 non-null     int64
 27  Losses_28  15 non-null     int64
 28  Losses_29  15 non-null     int64
 29  Losses_30  15 non-null     int64
 30  Losses_31  15 non-null     int64
 31  Losses_32  15 non-null     int64
 32  Losses_33  15 non-null     int64
 33  Losses_34  15 non-null     int64
 34  Losses_35  15 non-null     int64
 35  Losses_36  15 non-null     int64
 36  Losses_37  15 non-null     int64
 37  Losses_38  15 non-null     int64
 38  Losses_39  15 non-null     int64
 39  Losses_40  15 non-null     int64
 40  Losses_41  15 non-null     int64
 41  Losses_42  15 non-null     int64
 42  Losses_43  15 non-null     int64
 43  Losses_44  15 non-null     int64
 44  Losses_45  15 non-null     int64
 45  Losses_46  15 non-null     int64
 46  Losses_47  15 non-null     int64
 47  Losses_48  15 non-null     int64
 48  Losses_49  15 non-null     int64
 49  Losses_50  15 non-null     int64
 50  Losses_51  15 non-null     int64
 51  Losses_52  15 non-null     int64
 52  Losses_53  15 non-null     int64
 53  Losses_54  15 non-null     int64
 54  Losses_55  15 non-null     int64
 55  Losses_56  15 non-null     int64
 56  Losses_57  15 non-null     int64
 57  Losses_58  15 non-null     int64
 58  Losses_59  15 non-null     int64
 59  Losses_60  15 non-null     int64
 60  Losses_61  15 non-null     int64
 61  Losses_62  15 non-null     int64
 62  Losses_63  15 non-null     int64
 63  Losses_64  15 non-null     int64
 64  Losses_65  15 non-null     int64
 65  Losses_66  15 non-null     int64
 66  Losses_67  15 non-null     int64
 67  Losses_68  15 non-null     int64
 68  Losses_69  15 non-null     int64
 69  Losses_70  15 non-null     int64
 70  Losses_71  15 non-null     int64
 71  Losses_72  15 non-null     int64
 72  Losses_73  15 non-null     int64
 73  Losses_74  15 non-null     int64
 74  Losses_75  15 non-null     int64
 75  Losses_76  15 non-null     int64
 76  Losses_77  15 non-null     int64
 77  Losses_78  15 non-null     int64
 78  Losses_79  15 non-null     int64
 79  Losses_80  15 non-null     int64
 80  Losses_81  15 non-null     int64
 81  Losses_82  15 non-null     int64
 82  Losses_83  15 non-null     int64
 83  Losses_84  15 non-null     int64
 84  Losses_85  15 non-null     int64
 85  Losses_86  15 non-null     int64
 86  Losses_87  15 non-null     int64
 87  Losses_88  15 non-null     int64
 88  Losses_89  15 non-null     int64
 89  Losses_90  15 non-null     int64
 90  Losses_91  15 non-null     int64
 91  Losses_92  15 non-null     int64
 92  Losses_93  15 non-null     int64
 93  Losses_94  15 non-null     int64
 94  Losses_95  15 non-null     int64
dtypes: int64(95)
memory usage: 11.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 504 entries, Subj_1 to Subj_504
Data columns (total 100 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Losses_1    504 non-null    int64
 1   Losses_2    504 non-null    int64
 2   Losses_3    504 non-null    int64
 3   Losses_4    504 non-null    int64
 4   Losses_5    504 non-null    int64
 5   Losses_6    504 non-null    int64
 6   Losses_7    504 non-null    int64
 7   Losses_8    504 non-null    int64
 8   Losses_9    504 non-null    int64
 9   Losses_10   504 non-null    int64
 10  Losses_11   504 non-null    int64
 11  Losses_12   504 non-null    int64
 12  Losses_13   504 non-null    int64
 13  Losses_14   504 non-null    int64
 14  Losses_15   504 non-null    int64
 15  Losses_16   504 non-null    int64
 16  Losses_17   504 non-null    int64
 17  Losses_18   504 non-null    int64
 18  Losses_19   504 non-null    int64
 19  Losses_20   504 non-null    int64
 20  Losses_21   504 non-null    int64
 21  Losses_22   504 non-null    int64
 22  Losses_23   504 non-null    int64
 23  Losses_24   504 non-null    int64
 24  Losses_25   504 non-null    int64
 25  Losses_26   504 non-null    int64
 26  Losses_27   504 non-null    int64
 27  Losses_28   504 non-null    int64
 28  Losses_29   504 non-null    int64
 29  Losses_30   504 non-null    int64
 30  Losses_31   504 non-null    int64
 31  Losses_32   504 non-null    int64
 32  Losses_33   504 non-null    int64
 33  Losses_34   504 non-null    int64
 34  Losses_35   504 non-null    int64
 35  Losses_36   504 non-null    int64
 36  Losses_37   504 non-null    int64
 37  Losses_38   504 non-null    int64
 38  Losses_39   504 non-null    int64
 39  Losses_40   504 non-null    int64
 40  Losses_41   504 non-null    int64
 41  Losses_42   504 non-null    int64
 42  Losses_43   504 non-null    int64
 43  Losses_44   504 non-null    int64
 44  Losses_45   504 non-null    int64
 45  Losses_46   504 non-null    int64
 46  Losses_47   504 non-null    int64
 47  Losses_48   504 non-null    int64
 48  Losses_49   504 non-null    int64
 49  Losses_50   504 non-null    int64
 50  Losses_51   504 non-null    int64
 51  Losses_52   504 non-null    int64
 52  Losses_53   504 non-null    int64
 53  Losses_54   504 non-null    int64
 54  Losses_55   504 non-null    int64
 55  Losses_56   504 non-null    int64
 56  Losses_57   504 non-null    int64
 57  Losses_58   504 non-null    int64
 58  Losses_59   504 non-null    int64
 59  Losses_60   504 non-null    int64
 60  Losses_61   504 non-null    int64
 61  Losses_62   504 non-null    int64
 62  Losses_63   504 non-null    int64
 63  Losses_64   504 non-null    int64
 64  Losses_65   504 non-null    int64
 65  Losses_66   504 non-null    int64
 66  Losses_67   504 non-null    int64
 67  Losses_68   504 non-null    int64
 68  Losses_69   504 non-null    int64
 69  Losses_70   504 non-null    int64
 70  Losses_71   504 non-null    int64
 71  Losses_72   504 non-null    int64
 72  Losses_73   504 non-null    int64
 73  Losses_74   504 non-null    int64
 74  Losses_75   504 non-null    int64
 75  Losses_76   504 non-null    int64
 76  Losses_77   504 non-null    int64
 77  Losses_78   504 non-null    int64
 78  Losses_79   504 non-null    int64
 79  Losses_80   504 non-null    int64
 80  Losses_81   504 non-null    int64
 81  Losses_82   504 non-null    int64
 82  Losses_83   504 non-null    int64
 83  Losses_84   504 non-null    int64
 84  Losses_85   504 non-null    int64
 85  Losses_86   504 non-null    int64
 86  Losses_87   504 non-null    int64
 87  Losses_88   504 non-null    int64
 88  Losses_89   504 non-null    int64
 89  Losses_90   504 non-null    int64
 90  Losses_91   504 non-null    int64
 91  Losses_92   504 non-null    int64
 92  Losses_93   504 non-null    int64
 93  Losses_94   504 non-null    int64
 94  Losses_95   504 non-null    int64
 95  Losses_96   504 non-null    int64
 96  Losses_97   504 non-null    int64
 97  Losses_98   504 non-null    int64
 98  Losses_99   504 non-null    int64
 99  Losses_100  504 non-null    int64
dtypes: int64(100)
memory usage: 397.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 98 entries, Subj_1 to Subj_98
Columns: 150 entries, Losses_1 to Losses_150
dtypes: int64(150)
memory usage: 115.6+ KB
None

In [196]:
print(wi_95.info())
print(wi_100.info())
print(wi_150.info())

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, Subj_1 to Subj_15
Data columns (total 95 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Wins_1   15 non-null     int64
 1   Wins_2   15 non-null     int64
 2   Wins_3   15 non-null     int64
 3   Wins_4   15 non-null     int64
 4   Wins_5   15 non-null     int64
 5   Wins_6   15 non-null     int64
 6   Wins_7   15 non-null     int64
 7   Wins_8   15 non-null     int64
 8   Wins_9   15 non-null     int64
 9   Wins_10  15 non-null     int64
 10  Wins_11  15 non-null     int64
 11  Wins_12  15 non-null     int64
 12  Wins_13  15 non-null     int64
 13  Wins_14  15 non-null     int64
 14  Wins_15  15 non-null     int64
 15  Wins_16  15 non-null     int64
 16  Wins_17  15 non-null     int64
 17  Wins_18  15 non-null     int64
 18  Wins_19  15 non-null     int64
 19  Wins_20  15 non-null     int64
 20  Wins_21  15 non-null     int64
 21  Wins_22  15 non-null     int64
 22  Wins_23  15 non-null     int64
 23  Wins_24  15 non-null     int64
 24  Wins_25  15 non-null     int64
 25  Wins_26  15 non-null     int64
 26  Wins_27  15 non-null     int64
 27  Wins_28  15 non-null     int64
 28  Wins_29  15 non-null     int64
 29  Wins_30  15 non-null     int64
 30  Wins_31  15 non-null     int64
 31  Wins_32  15 non-null     int64
 32  Wins_33  15 non-null     int64
 33  Wins_34  15 non-null     int64
 34  Wins_35  15 non-null     int64
 35  Wins_36  15 non-null     int64
 36  Wins_37  15 non-null     int64
 37  Wins_38  15 non-null     int64
 38  Wins_39  15 non-null     int64
 39  Wins_40  15 non-null     int64
 40  Wins_41  15 non-null     int64
 41  Wins_42  15 non-null     int64
 42  Wins_43  15 non-null     int64
 43  Wins_44  15 non-null     int64
 44  Wins_45  15 non-null     int64
 45  Wins_46  15 non-null     int64
 46  Wins_47  15 non-null     int64
 47  Wins_48  15 non-null     int64
 48  Wins_49  15 non-null     int64
 49  Wins_50  15 non-null     int64
 50  Wins_51  15 non-null     int64
 51  Wins_52  15 non-null     int64
 52  Wins_53  15 non-null     int64
 53  Wins_54  15 non-null     int64
 54  Wins_55  15 non-null     int64
 55  Wins_56  15 non-null     int64
 56  Wins_57  15 non-null     int64
 57  Wins_58  15 non-null     int64
 58  Wins_59  15 non-null     int64
 59  Wins_60  15 non-null     int64
 60  Wins_61  15 non-null     int64
 61  Wins_62  15 non-null     int64
 62  Wins_63  15 non-null     int64
 63  Wins_64  15 non-null     int64
 64  Wins_65  15 non-null     int64
 65  Wins_66  15 non-null     int64
 66  Wins_67  15 non-null     int64
 67  Wins_68  15 non-null     int64
 68  Wins_69  15 non-null     int64
 69  Wins_70  15 non-null     int64
 70  Wins_71  15 non-null     int64
 71  Wins_72  15 non-null     int64
 72  Wins_73  15 non-null     int64
 73  Wins_74  15 non-null     int64
 74  Wins_75  15 non-null     int64
 75  Wins_76  15 non-null     int64
 76  Wins_77  15 non-null     int64
 77  Wins_78  15 non-null     int64
 78  Wins_79  15 non-null     int64
 79  Wins_80  15 non-null     int64
 80  Wins_81  15 non-null     int64
 81  Wins_82  15 non-null     int64
 82  Wins_83  15 non-null     int64
 83  Wins_84  15 non-null     int64
 84  Wins_85  15 non-null     int64
 85  Wins_86  15 non-null     int64
 86  Wins_87  15 non-null     int64
 87  Wins_88  15 non-null     int64
 88  Wins_89  15 non-null     int64
 89  Wins_90  15 non-null     int64
 90  Wins_91  15 non-null     int64
 91  Wins_92  15 non-null     int64
 92  Wins_93  15 non-null     int64
 93  Wins_94  15 non-null     int64
 94  Wins_95  15 non-null     int64
dtypes: int64(95)
memory usage: 11.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 504 entries, Subj_1 to Subj_504
Data columns (total 100 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Wins_1    504 non-null    int64
 1   Wins_2    504 non-null    int64
 2   Wins_3    504 non-null    int64
 3   Wins_4    504 non-null    int64
 4   Wins_5    504 non-null    int64
 5   Wins_6    504 non-null    int64
 6   Wins_7    504 non-null    int64
 7   Wins_8    504 non-null    int64
 8   Wins_9    504 non-null    int64
 9   Wins_10   504 non-null    int64
 10  Wins_11   504 non-null    int64
 11  Wins_12   504 non-null    int64
 12  Wins_13   504 non-null    int64
 13  Wins_14   504 non-null    int64
 14  Wins_15   504 non-null    int64
 15  Wins_16   504 non-null    int64
 16  Wins_17   504 non-null    int64
 17  Wins_18   504 non-null    int64
 18  Wins_19   504 non-null    int64
 19  Wins_20   504 non-null    int64
 20  Wins_21   504 non-null    int64
 21  Wins_22   504 non-null    int64
 22  Wins_23   504 non-null    int64
 23  Wins_24   504 non-null    int64
 24  Wins_25   504 non-null    int64
 25  Wins_26   504 non-null    int64
 26  Wins_27   504 non-null    int64
 27  Wins_28   504 non-null    int64
 28  Wins_29   504 non-null    int64
 29  Wins_30   504 non-null    int64
 30  Wins_31   504 non-null    int64
 31  Wins_32   504 non-null    int64
 32  Wins_33   504 non-null    int64
 33  Wins_34   504 non-null    int64
 34  Wins_35   504 non-null    int64
 35  Wins_36   504 non-null    int64
 36  Wins_37   504 non-null    int64
 37  Wins_38   504 non-null    int64
 38  Wins_39   504 non-null    int64
 39  Wins_40   504 non-null    int64
 40  Wins_41   504 non-null    int64
 41  Wins_42   504 non-null    int64
 42  Wins_43   504 non-null    int64
 43  Wins_44   504 non-null    int64
 44  Wins_45   504 non-null    int64
 45  Wins_46   504 non-null    int64
 46  Wins_47   504 non-null    int64
 47  Wins_48   504 non-null    int64
 48  Wins_49   504 non-null    int64
 49  Wins_50   504 non-null    int64
 50  Wins_51   504 non-null    int64
 51  Wins_52   504 non-null    int64
 52  Wins_53   504 non-null    int64
 53  Wins_54   504 non-null    int64
 54  Wins_55   504 non-null    int64
 55  Wins_56   504 non-null    int64
 56  Wins_57   504 non-null    int64
 57  Wins_58   504 non-null    int64
 58  Wins_59   504 non-null    int64
 59  Wins_60   504 non-null    int64
 60  Wins_61   504 non-null    int64
 61  Wins_62   504 non-null    int64
 62  Wins_63   504 non-null    int64
 63  Wins_64   504 non-null    int64
 64  Wins_65   504 non-null    int64
 65  Wins_66   504 non-null    int64
 66  Wins_67   504 non-null    int64
 67  Wins_68   504 non-null    int64
 68  Wins_69   504 non-null    int64
 69  Wins_70   504 non-null    int64
 70  Wins_71   504 non-null    int64
 71  Wins_72   504 non-null    int64
 72  Wins_73   504 non-null    int64
 73  Wins_74   504 non-null    int64
 74  Wins_75   504 non-null    int64
 75  Wins_76   504 non-null    int64
 76  Wins_77   504 non-null    int64
 77  Wins_78   504 non-null    int64
 78  Wins_79   504 non-null    int64
 79  Wins_80   504 non-null    int64
 80  Wins_81   504 non-null    int64
 81  Wins_82   504 non-null    int64
 82  Wins_83   504 non-null    int64
 83  Wins_84   504 non-null    int64
 84  Wins_85   504 non-null    int64
 85  Wins_86   504 non-null    int64
 86  Wins_87   504 non-null    int64
 87  Wins_88   504 non-null    int64
 88  Wins_89   504 non-null    int64
 89  Wins_90   504 non-null    int64
 90  Wins_91   504 non-null    int64
 91  Wins_92   504 non-null    int64
 92  Wins_93   504 non-null    int64
 93  Wins_94   504 non-null    int64
 94  Wins_95   504 non-null    int64
 95  Wins_96   504 non-null    int64
 96  Wins_97   504 non-null    int64
 97  Wins_98   504 non-null    int64
 98  Wins_99   504 non-null    int64
 99  Wins_100  504 non-null    int64
dtypes: int64(100)
memory usage: 397.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 98 entries, Subj_1 to Subj_98
Columns: 150 entries, Wins_1 to Wins_150
dtypes: int64(150)
memory usage: 115.6+ KB
None

All columns are non-null and of the same type (int64), so I did not need to change any datatypes.

# Part 2
Now I will merge the datasets to include choice, amount won/lost and index.

In [197]:
total_95 = wi_95.sub(lo_95)
total_95
# 500 - lo_95.iloc(1)[0][0]

,Losses_1,Losses_10,Losses_11,Losses_12,Losses_13,Losses_14,Losses_15,Losses_16,Losses_17,Losses_18,...,Wins_87,Wins_88,Wins_89,Wins_9,Wins_90,Wins_91,Wins_92,Wins_93,Wins_94,Wins_95
Subj_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Subj_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Subj_3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Subj_4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Subj_5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Subj_6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Subj_7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Subj_8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Subj_9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Subj_10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Subj_11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Subj_12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Subj_13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Subj_14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Subj_15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [198]:
l_95 = lo_95.copy()
ld = {}
for i in range(1, 96):
    ld['Losses_' + str(i)] = 'Total_' + str(i)
w_95 = wi_95.copy()
wd = {}
for i in range(1, 96):
    wd['Wins_' + str(i)] = 'Total_' + str(i)
    
l_95.rename(columns=ld, inplace=True)
w_95.rename(columns=wd, inplace=True)

total_95 = w_95.add(l_95)
total_95

,Total_1,Total_2,Total_3,Total_4,Total_5,Total_6,Total_7,Total_8,Total_9,Total_10,...,Total_86,Total_87,Total_88,Total_89,Total_90,Total_91,Total_92,Total_93,Total_94,Total_95
Subj_1,100,100,100,100,100,100,100,100,-1150,100,...,50,50,50,50,50,50,50,-200,50,50
Subj_2,100,100,50,100,100,100,100,100,100,100,...,0,-200,100,-250,100,100,50,50,50,25
Subj_3,50,50,50,100,100,100,100,-50,100,100,...,100,100,100,50,50,50,-200,50,50,50
Subj_4,50,50,100,100,-50,100,100,50,100,100,...,100,0,50,0,0,50,25,50,50,50
Subj_5,100,100,50,50,50,100,-50,100,100,100,...,-25,50,50,50,50,50,50,50,50,50
Subj_6,100,100,100,100,-50,100,100,50,50,50,...,50,50,50,0,50,50,50,50,-200,50
Subj_7,100,100,50,50,50,50,100,100,100,-50,...,50,50,-50,100,50,50,-200,50,100,50
Subj_8,50,100,100,50,100,50,100,100,-50,100,...,50,100,0,50,100,50,50,50,50,50
Subj_9,100,100,100,100,50,50,-50,50,50,50,...,50,100,50,100,-1150,50,100,50,25,100
Subj_10,50,100,100,100,50,100,100,50,50,50,...,50,50,50,50,50,50,50,50,-200,25
Subj_11,50,50,0,100,50,100,-50,100,100,100,...,-200,100,50,100,50,100,50,100,100,-150
Subj_12,50,50,50,50,100,100,100,100,100,100,...,-200,100,100,50,100,100,100,25,50,100
Subj_13,100,100,50,50,50,100,100,100,-50,50,...,100,-25,50,50,50,50,100,100,100,50
Subj_14,100,100,50,50,100,100,-50,100,50,50,...,50,100,50,100,-150,100,50,50,50,25
Subj_15,100,100,50,50,50,50,50,100,100,0,...,50,50,50,100,-150,50,50,50,50,50

In [199]:
all_95 = total_95.join(choice_95)

In [200]:
cols = all_95.columns.tolist()
cols = sorted(cols, key = lambda x: int(x.split('_')[-1]))
all_95 = all_95[cols]
all_95

,Total_1,Choice_1,Total_2,Choice_2,Total_3,Choice_3,Total_4,Choice_4,Total_5,Choice_5,...,Total_91,Choice_91,Total_92,Choice_92,Total_93,Choice_93,Total_94,Choice_94,Total_95,Choice_95
Subj_1,100,2,100,2,100,2,100,2,100,2,...,50,4,50,4,-200,4,50,4,50,4
Subj_2,100,1,100,2,50,3,100,2,100,2,...,100,2,50,3,50,4,50,4,25,3
Subj_3,50,3,50,4,50,3,100,2,100,2,...,50,4,-200,4,50,4,50,4,50,4
Subj_4,50,4,50,3,100,1,100,1,-50,1,...,50,3,25,3,50,4,50,4,50,4
Subj_5,100,1,100,2,50,3,50,4,50,3,...,50,4,50,4,50,4,50,4,50,4
Subj_6,100,1,100,2,100,1,100,2,-50,1,...,50,4,50,4,50,4,-200,4,50,4
Subj_7,100,1,100,2,50,3,50,4,50,4,...,50,4,-200,4,50,4,100,2,50,4
Subj_8,50,4,100,2,100,1,50,3,100,2,...,50,4,50,4,50,4,50,4,50,4
Subj_9,100,1,100,2,100,1,100,2,50,3,...,50,4,100,2,50,4,25,3,100,2
Subj_10,50,4,100,2,100,2,100,1,50,3,...,50,4,50,4,50,4,-200,4,25,3
Subj_11,50,3,50,3,0,3,100,1,50,4,...,100,2,50,4,100,2,100,2,-150,1
Subj_12,50,4,50,4,50,4,50,4,100,2,...,100,2,100,2,25,3,50,4,100,2
Subj_13,100,1,100,1,50,4,50,3,50,4,...,50,4,100,2,100,2,100,1,50,4
Subj_14,100,1,100,2,50,3,50,4,100,1,...,100,2,50,3,50,3,50,3,25,3
Subj_15,100,1,100,2,50,3,50,4,50,4,...,50,4,50,4,50,3,50,3,50,3

In [201]:
index_95['Subj'] = index_95['Subj'].apply(lambda x: 'Subj_' + str(x))
index_95.set_index('Subj', inplace=True)
index_95.index.name = None
all_95 = all_95.join(index_95)

In [202]:
l = []
for i in range(1, 96):
    l.append([i, 'Total_' + str(i)])
    l.append([i, 'Choice_' + str(i)])
l.append(['Name', 'Study'])
all_95.columns = pd.MultiIndex.from_tuples(l)
# >>> cols = pd.MultiIndex.from_tuples([("a", "b"), ("a", "c")])
# all_95.columns = all_95.columns.droplevel(0)

In [205]:
all_95.to_csv(("./data/all_95.csv"))
print(all_95.head())

             1                2                3                4           \
       Total_1 Choice_1 Total_2 Choice_2 Total_3 Choice_3 Total_4 Choice_4
Subj_1     100        2     100        2     100        2     100        2
Subj_2     100        1     100        2      50        3     100        2
Subj_3      50        3      50        4      50        3     100        2
Subj_4      50        4      50        3     100        1     100        1
Subj_5     100        1     100        2      50        3      50        4

             5           ...        91       92                 93            \
       Total_5 Choice_5  ... Choice_91 Total_92 Choice_92 Total_93 Choice_93
Subj_1     100        2  ...         4       50         4     -200         4
Subj_2     100        2  ...         2       50         3       50         4
Subj_3     100        2  ...         4     -200         4       50         4
Subj_4     -50        1  ...         3       25         3       50         4
Subj_5      50        3  ...         4       50         4       50         4

             94                 95                Name
       Total_94 Choice_94 Total_95 Choice_95     Study
Subj_1       50         4       50         4  Fridberg
Subj_2       50         4       25         3  Fridberg
Subj_3       50         4       50         4  Fridberg
Subj_4       50         4       50         4  Fridberg
Subj_5       50         4       50         4  Fridberg

[5 rows x 191 columns]